<div fxLayout="row" fxLayoutGap="2%">
<mat-card>
  <h3>Filters</h3>
  <mat-form-field>
    <input matInput placeholder="Title" type="text" (keyup)="this.filterGame$.next($any($event.target).value)"/>
  </mat-form-field>
</mat-card>

<div fxLayout="row wrap" fxLayoutGap="1% grid" fxLayoutAlign="start none">
  <div 
    class="game"
    *ngFor="let localGame of (games$ | async | gameFilter: filterGameTitle)"
    fxFlex="25%"
    fxFlex.xs="100%"
  >
    <app-game [game]="localGame"></app-game>
  </div>
</div>
</div>