<mat-card>
<h3>Delete a game</h3>
    <mat-form-field style="width: 500px;">
        <mat-label>Game</mat-label>                    
        <mat-select aria-label="Game" #game >
                <mat-option *ngFor="let localGame of (games$ | async)" [value]="localGame.gameId"> 
                    {{localGame.title}} | {{localGame.gameConsole}}
                </mat-option>     
        </mat-select>   
    </mat-form-field>
     <button (click)="deleteGame(game)" mat-raised-button style="margin-left: 20px;">
        Delete game
    </button>
    <p class="confirmation" *ngIf="confirmationMessage">
        {{ confirmationMessage }}
    </p>
</mat-card>