<mat-card class="card-wrapper" data-cy="gameCard">
    <mat-card-header>
      <mat-card-title>{{game.title}}</mat-card-title>
      <mat-card-subtitle>{{game.gameConsole}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/{{game.gameConsole}} {{game.title}}.jpg" onerror="if (this.src != 'assets/images/GameNotFound.jpg') this.src = 'assets/images/GameNotFound.jpg'">
    <mat-card-content>
    <p>{{game.description}}</p> 
    <table style="width: 100%">
      <tr>
        <td>New price</td>
        <td>Used price</td>
      </tr>
      <tr>
        <td>{{game.newPrice | currency:"EUR":"symbol" }}</td>
        <td>{{game.usedPrice | currency:"EUR":"symbol" }}</td>
      </tr>
      <tr>
        <td>New stock</td>
        <td>Used stock</td>
      </tr>
      <tr>
        <td>{{game.newStock}}</td> 
        <td>{{game.usedStock}}</td> 
      </tr>
      <!--<tr>
        <td><button mat-stroked-button><span class="material-icons">shopping_cart</span>New</button></td>
        <td><button mat-stroked-button><span class="material-icons">shopping_cart</span>Used</button></td>
      </tr>-->
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="editGame()" mat-stroked-button class="material-icons" style="margin-left: 35%;"><span class="material-icons">edit</span></button>
  </mat-card-actions>
  </mat-card>